@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    text-align: center;
    margin:0;
    padding: 0;
    background-color: #a8dadc;
    font-family: 'Raleway', sans-serif;
}

label {
    display: block;
    padding: 0.8rem;
}

img {
    margin: auto;
    padding: 0.5rem;
}